{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
<h1>Leaderboard</h1>

<p>Something</p>

{% if current_user.is_authenticated %}
    Hi {{ current_user.username }}!
{% else %}
    You are not logged in
{% endif %}

<table>
    <tr>
        <th>Display</th>
        <th>First</th>
        <th>Last</th>
        <th>ELO</th>
    </tr>
    {% for user in users %}
        <tr>
            <th><a href="{{ url_for('profile', id=user.id) }}">{{ user.display_name }}</a></th>
            <th>{{ user.firstname }}</th>
            <th>{{ user.lastname }}</th>
            <th>{{ user.elo }}</th>
        </tr>
    {% endfor %}
</table>


{% endblock %}