{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
<h1>Players</h1>

{% if current_user.is_authenticated %}
    Hi {{ current_user.username }}!
{% else %}
    You are not logged in
{% endif %}

<table>
    <tr>
        <th>Display</th>
        <th>First</th>
        <th>Last</th>
        <th>ELO</th>
    </tr>
    {% for user in users %}
        <tr>
            <td><a href="{{ url_for('profile', id=user.id) }}">{{ user.display_name }}#{{ user.id }}</a></td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.elo|round|int }}</td>
        </tr>
    {% endfor %}
</table>


{% endblock %}